# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env

# Virtual environment
venv/
env/

# Streamlit cache
.streamlit/secrets.toml
.streamlit/config.toml
.streamlit/*.json

# Jupyter Notebooks
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Log folders
*.tmp

# Exported files
*.csv
bookmarks.txt

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log

# AWS & CI/CD
.aws/
.ecr/
